tesseract_training_venv
ara.txt
arwiki-20180120-pages-articles-multistream.xml
output.txt
tesstrain/tessdata/ara_old.traineddata
tesstrain/tessdata/ara.traineddata
tesstrain/data/DIN-ground-truth
tesstrain/data/ara
tesstrain/data/langdata
tesstrain/tesstrain_venv

tesstrain/data/*ground-truth/*
tesstrain/data/langdata/*
tesstrain/!data/ground-truth/.gitkeep
tesstrain/data/all-*
tesstrain/data/list.*
tesstrain/data/unicharset
tesstrain/dta19-reduced
tesstrain/dta19-reduced.tar.gz
tesstrain/*.built
tesstrain/*.BAK
tesstrain/usr
tesstrain/data/checkpoints
tesstrain/9ae97508aed1e5508458f1181b08501f984bf4e2.zip
tesstrain/langdata-*
tesstrain/data/test/*
tesstrain/data/*.traineddata
tesstrain/wackenroder_herzensergiessungen_*.gt.txt
tesstrain/wackenroder_herzensergiessungen_*.tif
tesstrain/master.zip
tesstrain/main.zip
tesstrain/plot/*.LOG
tesstrain/plot/ocrd*

# ignore temporary training data
*checkpoints*
